<section class="hero is-fullheight has-background">
    <img src="" class="hero-background is-transparent" loading="edge">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">

                <h3 class="title">Page not found!</h3>

            </div>
        </div>
    </div>
</section>