<section class="hero is-medium is-light">
    <div class="hero-body has-text-centered">
        <p class="title">
            Node Authentication
        </p>
        <p class="">
            Login or Register with:
        </p>
        <p>
            <a href="/local/login" class="button">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <span>Local Login</span>
            </a>
            <a href="/local/signup" class="button">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <span>Local Signup</span>
            </a>

            <a href="/authZero/login" class="button is-warning">
                <span class="icon">
                    <i class="fas fa-star"></i>
                </span>
                <span>Auth0</span>
            </a>

            <a href="/auth/facebook" class="button is-info">
                <span class="icon">
                    <i class="fab fa-facebook"></i>
                </span>
                <span>Facebook</span>
            </a>
            <a href="/auth/instagram" class="button is-primary">
                <span class="icon">
                    <i class="fab fa-instagram"></i>
                </span>
                <span>Instagram</span>
            </a>
        </p>
    </div>
</section>