<section class="hero is-medium is-light">
    <div class="hero-body has-text-centered">
        <p class="title">
            Node Authentication
        </p>
        <p class="">
            Login or Register with:
        </p>
        <p>
            <a href="/login" class="button">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <span>Local Login</span>
            </a>
            <a href="/signup" class="button">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <span>Local Signup</span>
            </a>

            <a href="/auth/facebook" class="button is-info">
                <span class="icon">
                    <i class="fab fa-facebook"></i>
                </span>
                <span>Facebook</span>
            </a>
            <a href="/auth/instagram" class="button is-primary">
                <span class="icon">
                    <i class="fab fa-instagram"></i>
                </span>
                <span>Instagram</span>
            </a>
        </p>
    </div>
</section>