<section class="hero is-fullheight is-light">
    <div class="hero-body">
        <div class="container ">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-centered">Signup</h3>
                <div class="box">

                    <form action="/signup" method="post">
                        <div class="field">
                            <div class="control">
                                <label class="label" for="firstname">Fornavn</label>
                                <input class="input" type="text" placeholder="Your firstname" autofocus=""
                                    name="firstname" id="firstname">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="label" for="lastname">Lastname</label>
                                <input class="input" type="text" placeholder="Your lastname" autofocus=""
                                    name="lastname" id="lastname">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="label" for="email">Email</label>
                                <input class="input" type="email" placeholder="Your Email" autofocus="" id="email"
                                    name=" email">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="label" for="password">Password</label>
                                <input class="input" type="password" placeholder="Your Password" name="password"
                                    id="password">
                            </div>
                        </div>
                        <button class="button is-block is-info is-fullwidth">Signup
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
                <p class="has-text-centered">Already have an account? <a href="/login">Login</a></p>
                <p class="has-text-centered">Or go <a href="/">home</a>.</p>

            </div>
        </div>
    </div>
</section>